

<div class="header">
  <a href="#default" class="logo">Weather Website</a>
  <div class="header-right">
    <a class="active" href="/weather">Get Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
    <a href="/login">Sign Up</a>
  </div>
</div>